/* ###################################################################### */

                              /* IMPORTS */

/* ###################################################################### */


/* GOOGLE FONTS */

/* DM Sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
/* font-family: 'DM Sans', sans-serif; */



/* ###################################################################### */

                            /* VARIABLES */

/* ###################################################################### */


/* VARIABLES */
:root {


  /* FONT FAMILY */
  --main-font-family: 'DM Sans', sans-serif;


  /* FONT WEIGHT */
  --fw-reg: 400;
  --fw-bold: 700;


  /* COLORS */

  /* Primary */
  --primary-color: hsl(10, 79%, 65%);
  --secondary-color: hsl(186, 34%, 60%);

  /* Nuetral */
  --dark-color: hsl(25, 47%, 15%);
  --dark-nuetral-color: hsl(28, 10%, 53%);
  --light-nuetral-color: hsl(27, 66%, 92%);
  --light-color: hsl(33, 100%, 98%);
  --white: hsl(0, 0%, 100%);
  

}



/* ###################################################################### */

                           /* MAIN STYLES */

/* ###################################################################### */


/* html */
html {
  box-sizing: border-box;
  font-size: 18px;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* body */
.main-container {
  font-family: var(--main-font-family);
  font-weight: var(--fw-reg);
  height: 100vh;
}


/* Main Content Container */
.main-content-container {
  height: 100%;
  background-color: var(--light-nuetral-color);
  padding-right: 0.888889rem;
  padding-left: 0.888889rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* Header */
.header {
  height: 5.388889rem;
  margin-bottom: 0.888889rem;
  border-radius: 0.555556rem;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Header Content */
.header-content-container {
  margin-left: 1.111111rem;
  color: var(--white);
}


/* Header Copy */
.header-copy {
  font-size: 0.833333rem;
  line-height: 1.111111rem;
  margin-bottom: 0.222222rem;
}

/* Header Amount */
.header-amount {
  font-size: 1.333333rem;
  line-height: 1.722222rem;
  font-weight: var(--fw-bold);
}


/* Logo Container */
.logo-container {
  width: 3.333333rem;
  height: 2.222222rem;
  margin-right: 1.333333rem;
  background-image: url(../images/logo.svg);
  background-size: cover;
  background-position: center;
}


/* Main Content */
.main-content {
  padding: 1.333333rem 1.111111rem;
  border-radius: 0.555556rem;
  background-color: var(--light-color);
}


/* h1 Main Heading */
.main-heading {
  font-size: 1.333333rem;
  line-height: 1.736111rem;
  font-weight: var(--fw-bold);
  color: var(--dark-color);
}


/* Bar Chart Container */
.bar-chart-container {
  height: 12.722222rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}


/* Bar Graph Container */
.bar-graph-container {
  width: 1.833333rem;
  text-align: center;
}


/* Bar Graph */
.bar-graph {
  margin-bottom: 0.611111rem;
  background-color: var(--primary-color);
  border-radius: 0.166667rem;
}


/* Bar Graph Copy */
.bar-graph-copy {
  font-size: 0.666667rem;
  line-height: 0.888889rem;
  color: var(--dark-nuetral-color);
}


/* Horizontal Line */
.horizontal-line {
  height: 0.111111rem;
  margin-top: 1.333333rem;
  margin-bottom: 1.333333rem;
  background-color: var(--light-nuetral-color);
}


/* Stats Container */
.stats-container {
  height: 3.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}


/* Total Stats Amount */
.total-stats-amount {
  font-size: 1.666667rem;
  line-height: 2.166667rem;
  font-weight: var(--fw-bold);
  color: var(--dark-color);
}


/* Last Month Stats Container */
.last-month-stats-container {
  height: 2.222222rem;
}

/* Stats Copy */
.total-stats-copy,
.change-percentage,
.last-month-change-copy {
  font-size: 0.833333rem;
  line-height: 1.111111rem;
  color: var(--dark-nuetral-color);
}


/* Total Stats Copy */
.total-stats-copy {
  margin-bottom: 0.222222rem;
}


/* Last Month Change Percentage */
.change-percentage {
  font-weight: var(--fw-bold);
  text-align: right;
  color: var(--dark-color);
}


/* ###################################################################### */

                          /* MEDIA QUERIES */

/* ###################################################################### */


@media screen and (min-width: 580px) {


  /* body */
  .main-container {
    background-color: var(--light-nuetral-color);
    display: flex;
    justify-content: center;
  }


  /* Main Content Container */
  .main-content-container {
    padding: 0rem;
  }  


  /* Header */
  .header {
    width: 30rem;
    height: 6.944444rem;
    margin-bottom: 1.333333rem;
  }


  /* Header Content */
  .header-content-container {
    margin-left: 1.777778rem;
  }


  /* Header Copy */
  .header-copy {
    font-size: 1rem;
    line-height: 1.277778rem;
    margin-bottom: 0.444444rem;
  }


  /* Header Amount */
  .header-amount {
    font-size: 1.777778rem;
    line-height: 2.333333rem;
  }


  /* Logo Container */
  .logo-container {
    width: 4rem;
    height: 2.666667rem;
    margin-right: 2.166667rem;
  }


  /* Main Content */
  .main-content {
    width: 30rem;
    padding: 1.777778rem 2.222222rem 2.222222rem 2.222222rem;
  }


  /* h1 Main Heading */
  .main-heading {
    font-size: 1.777778rem;
    line-height: 2.333333rem;
  }


  /* Bar Chart Container */
  .bar-chart-container {
    height: 13.555556rem;
  }


  /* Bar Graph Container */
  .bar-graph-container {
    width: 2.797778rem;
  }


  /* Bar Graph */
  .bar-graph {
    margin-bottom: 0.444444rem;
  }


  /* Bar Graph Copy */
  .bar-graph-copy {
    font-size: 0.833333rem;
    line-height: 1.111111rem;
  }


  /* Horizontal Line */
  .horizontal-line {
    margin-top: 1.777778rem;
    margin-bottom: 1.777778rem;
  }


  /* Stats Container */
  .stats-container {
    height: 4.833333rem;
  }


  /* Total Stats Amount */
  .total-stats-amount {
    font-size: 2.666667rem;
    line-height: 3.472222rem;
  }


  /* Last Month Stats Container */
  .last-month-stats-container {
    height: 2.611111rem;
  }


  /* Stats Copy */
  .total-stats-copy,
  .change-percentage,
  .last-month-change-copy {
    font-size: 1rem;
    line-height: 1.277778rem;
  }


  /* Total Stats Copy */
  .total-stats-copy {
    margin-bottom: 0.0555556rem;
  }


}

